

<div class="row" style="padding-left: 15px; padding-right: 15px;">
    <div id="pre-status-{{pie.id}}" class="col-md-6 col-sm-12 col-lg-4"
        ng-repeat="pie in dataParsed" ng-show="pie.data.length" on-finish-render="ngRepeatFinished">
        <div class="box light PieBox" ng-class="{'toogled': pie.hiddenLeads }">
            <div class="box-title">
                <div class="caption">
                    <span class="bold font-red-thunderbird uppercase pull-left">
                        {{ pie.name }}
                    </span>
                </div>
                <div class="actions">
                    <a href="#" ng-show="pie.hiddenLeads" ng-click="pie.hiddenLeads=!pie.hiddenLeads" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" ng-hide="pie.hiddenLeads" ng-click="pie.hiddenLeads=!pie.hiddenLeads" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                      <i class="fa fa-compress"></i>
                    </a>
                    <a href="javascript:;" ng-click="forceResizeGraphs()" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                </div>
            </div>
            <div class="box-body" block-ui="leadsPerStatus" style="min-height: 200px;">

                <div style="margin: auto;" class="text-center">
                    <div id="pieChartContainer{{ pie.id }}"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
