<div class='box light' style='margin-bottom: 0px;' >
    <div class="box-title">
        <div class="caption">
            <span class="bold font-red-thunderbird uppercase">
                {{ 'settings.automations.rule.edit.form.conditionIfChangeType.title' | translate }}
            </span>
        </div>
    </div>
    <div class="box-body">
        <form class="form-horizontal" name="saveAutomationRuleItems[{{rules.id}}]" ng-submit="saveAutomationRule(rules)" >
            <fieldset>
                <div class="form-group">
                    <div class="form-group col-md-6" ng-class="{'ng-invalid':  saveAutomationRuleItems[{{rules.id}}].contact_type_from.$invalid, 'ng-valid': saveAutomationRuleItems[{{rules.id}}].contact_type_from.$valid}">
                        <label class="col-sm-4 control-label primary-font thin">{{ ::('settings.automations.rule.edit.form.conditionIfChangeType.contact_type.from' | translate) }}</label>
                        <div class="col-sm-8">
                            <ui-select name="contact_type_from" ng-model="rules.data.contact_type_from_id" ng-required="true">
                                <ui-select-match placeholder="{{ 'settings.automations.rule.edit.form.conditionIfChangeType.contact_type.placeholder' | translate }}">{{ $select.selected.name }}</ui-select-match>
                                <ui-select-choices repeat="type.id as type in formRuleData.contactType | filter: $select.search">
                                      <div ng-bind-html="((type.id == 0 ? '' : ('<b>#' + type.id + '</b> ')) + type.name) | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group col-md-6" ng-class="{'ng-invalid':  saveAutomationRuleItems[{{rules.id}}].contact_type_to.$invalid, 'ng-valid': saveAutomationRuleItems[{{rules.id}}].contact_type_to.$valid}">
                        <label class="col-sm-4 control-label primary-font thin">{{ ::('settings.automations.rule.edit.form.conditionIfChangeType.contact_type.to' | translate) }}</label>
                        <div class="col-sm-8">
                            <ui-select name="contact_type_to" ng-model="rules.data.contact_type_to_id" ng-required="true">
                                <ui-select-match placeholder="{{ 'settings.automations.rule.edit.form.conditionIfChangeType.contact_type.placeholder' | translate }}">{{ $select.selected.name }}</ui-select-match>
                                <ui-select-choices repeat="type.id as type in formRuleData.contactType | filter: $select.search">
                                      <div ng-bind-html="((type.id == 0 ? '' : ('<b>#' + type.id + '</b> ')) + type.name) | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group col-md-6" ng-class="{'ng-invalid':  saveAutomationRuleItems[{{rules.id}}].after.$invalid, 'ng-valid': saveAutomationRuleItems[{{rules.id}}].after.$valid}">
                        <label class="col-sm-4 control-label primary-font thin">{{ ::('settings.automations.rule.edit.form.conditionIfChangeType.after' | translate) }}</label>
                        <div class="col-sm-8">
                            <input type="number" class='form-control' name="after" ng-model="rules.data.after" required>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button 
                            ng-class="{'disabled':  rules.isSuccessForm = saveAutomationRuleItems[{{rules.id}}].$invalid}"
                            type="submit"
                            class="btn btn-success btn-inverse">
                            {{ ::('settings.automations.rule.edit.form.btn.upload'| translate) }}
                        </button>   
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>