<div class='box light' style='margin-bottom: 0px;' >
    <div class="box-title">
        <div class="caption">
            <span class="bold font-red-thunderbird uppercase">
                {{ 'settings.automations.rule.edit.form.empty.title' | translate }}
            </span>
        </div>
    </div>
    <div class="box-body">
        <form class="form-horizontal" name="saveAutomationRuleItems[{{rules.id}}]" ng-submit="saveAutomationRule(rules, this)" >
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button 
                            ng-class="{'disabled':  rules.isSuccessForm = saveAutomationRuleItems[{{rules.id}}].$invalid}"
                            type="submit"
                            class="btn btn-success btn-inverse">
                            {{ ::('settings.automations.rule.edit.form.btn.upload'| translate) }}
                        </button>   
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="clearfix"></div>
    </div>
</div>