

<h2>Reschedule Follow-up # {{ ngDialogData.followup.id }}
    <button type="button" 
            class="btn btn-primary btn-inverse pull-right margin-right-10" 
            ui-sref="contacts.details.followup({id: ngDialogData.followup.resource_id, followupID: ngDialogData.followup.id })"
            ng-click="closeThisDialog(0);"
            >
        {{ 'form.edit' | translate }}
    </button>
    <button type="button" 
            class="btn btn-info btn-inverse pull-right margin-right-10" 
            ui-sref="contacts.details.summary({id: ngDialogData.followup.resource_id})"
            ng-click="closeThisDialog(0);"
            >
        #{{ ::ngDialogData.followup.resource_id }}: {{ ::ngDialogData.followup.resource.name }}
        {{ 'text.summary' | translate }}
    </button>
</h2>



<form class="form-horizontal" name="followupReschedue" novalidate ng-submit="followupReschedueFormSubmit()" role="form">
    
    <div class="form-group no-margin">
        <div class="col-sm-2 text-right">
            <label class="control-label primary-font">
                {{ 'text.current.date' | translate }}
            </label>
        </div>
        <div class="col-sm-10 control-label">
            <p class="primary-font text-left bold">
                {{ ::ngDialogData.followup.date }}
            </p>
        </div>
    </div>


    <div class="form-group no-margin" ng-class="{ 'has-error': followupReschedue.date.$invalid }">
        <div class="col-sm-2 text-right">
            <label class="control-label primary-font">
                {{ 'text.new.date' | translate }}
            </label>
        </div>
        <div class="col-sm-10">
            
            <p class="input-group">
                <!--datatimepicker-->
                <input 
                    type="text" 
                    name="date" 
                    class="form-control" 
                    required 
                    datetime-picker="{{datapicker.format}}" 
                    ng-model="reschedue.date" 
                    is-open="followupDataOpen" 
                    enable-time="datapicker.enabletime" 
                    datepicker-options="datapicker.options" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="followupDataOpen = true"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
            <small class="help-block error" ng-show="followupReschedue.date.$invalid">{{ 'form.validator.date' | translate }}</small>
        </div>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error': followupReschedue.reason.$invalid }">
        <div class="col-sm-2 text-right">
            <label class="control-label primary-font">
                {{ 'followup.reschedue.reason' | translate }}
            </label>
        </div>
        <div class="col-sm-10">
            <input type="text" name="reason" ng-model="reschedue.reason" required class="form-control" id="name" placeholder="{{ 'followup.reschedue.placeholder' | translate }}">
            <small class="help-block error" ng-show="followupReschedue.reason.$invalid">{{ 'form.validator.reason' | translate }}</small>
        </div>
    </div>
    
    <div class="form-group margin-bottom-20">
        <div class="col-sm-2 text-right">
            <label class="control-label primary-font" for="updatereminders">
                {{ 'followup.reschedue.updatereminders' | translate }}
            </label>
        </div>
        <div class="col-sm-10 control-label">
            <input class="pull-left margin-right-10" type="checkbox" id="updatereminders" ng-model="reschedue.updateReminders" value="1" checked="checked" name="updatereminders">
            <small class="text-muted pull-left">{{ 'followup.reschedue.updatereminders.descr' | translate }}</small>
        </div>
    </div>
    
    
    <div class="ngdialog-buttons">
        <button type="submit" ng-disabled="followupReschedue.$invalid" class="ngdialog-button ngdialog-button-primary">{{ 'followup.reschedue' | translate }}</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">{{ 'form.close' | translate }}</button>
    </div>
    
</form>




