<div st-pipe="callServer" st-persist="persistName" st-table="displayed">
    <div class="box light">
        <div class="box-title">
            <div class="caption">
                <div id="tableSearchContainer" style="width: 300px; margin-right: 35px;">
                    <div class="input-group">
                        <span class="input-group-addon" style="background: none;"><i class="font-red bold icon-magnifier"></i></span>
                        <input st-search placeholder="{{ 'form.search.placeholder' | translate }}" id="main-table-global-search" class="form-control" type="search" style="border-color: #e5e5e5;" />
                    </div>
                </div>
            </div>
            <div class="actions" style="padding-right: 11px; top: 17px;">
                <a href ui-sref="settings.webforms.add" class="btn btn-inverse btn-success">
                    {{ ::('settings.webforms.list.btn.create' | translate) }}
                </a>
                <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            
            <note ng-repeat="m in scopeMessages" type="{{m.type}}" dismiss="true" close="{{$index}}"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>

            
            <table class="table table-striped table-hover align-vertical" id="webformTable" highlight-active-table-header="border-bottom-red">
                <thead>
                <tr>
                    <!--<th></th>-->
                    <th st-sort="id">{{ ::('settings.webforms.th.id'        | translate) }}</th>
                    <th st-sort="name">{{ ::('settings.webforms.th.name'    | translate) }}</th>
                    <th st-sort="url">{{ ::('settings.webforms.th.url'      | translate) }}</th>
                    <th st-sort="contact_quantity">{{ ::('settings.webforms.th.quantity'  | translate) }}</th>
                    <th st-srot="created_at">{{ ::('settings.webforms.th.created'   | translate) }}</th>
                    <th st-srot="updated_at">{{ ::('settings.webforms.th.updated'   | translate) }}</th>
                    <th>{{ 'table.th.actions' | translate }}</th>
                </tr>
                </thead>
                <tbody block-ui="webformsTableBlock">
                    <tr ng-repeat="row in displayed" class="showOnMouseOverContainer">
                        <!--<td cs-select="row"></td>-->
                        <td class="">{{ ::row.id }}</td>
                        <td class="">{{ ::row.name }}</td>
                        <td class="">{{ ::row.url }}</td>
                        <td class="">{{ ::row.contact_quantity }}</td>
                        <td class="">{{ ::row.created_at }}</td>
                        <td class="">{{ ::(row.updated_at == '-0001-11-30 00:00:00') ? "0000-00-00 00:00:00" : row.updated_at  }}</td>

                        <td class="text-left">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-info btn-icon-only" ui-sref="settings.webforms.details({id: row.id })" style="height: 26px;">
                                    <i class="icon-note"></i>
                                </button>
                                <button type="button" class="btn btn-warning btn-icon-only" ng-click="showFormHtml(row.id)" style="height: 26px;">
                                    <i class="fa fa-code"></i>
                                </button>
                                <button ng-click="deleteWebForm(row.id)" type="button" class="btn btn-danger btn-icon-only" style="height: 26px;">
                                    <i class="icon-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-hide="displayed.length">
                        <td colspan="7">
                            <h4 class="text-center">
                                {{ ::('table.empty.msg' | translate) }}
                            </h4>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="text-left">

                            <span ng-hide="itemsLastNr == 0">
                                {{ 'table.pagination.display' | translate }} 

                                <div class="btn-group btn-group-xs btn-group-solid">
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 10}" ng-click="itemsByPage = 10">10</button>
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 25}" ng-click="itemsByPage = 25">25</button>
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 50}" ng-click="itemsByPage = 50">50</button>
                                    <button type="button" class="btn" ng-class="{'active': itemsByPage == 100}" ng-click="itemsByPage = 100">100</button>
                                </div>

                                {{ 'table.pagination.perpage' | translate }} {{ 'table.pagination.showing' | translate }} {{ itemsFirstNr }} {{ 'table.pagination.to' | translate }} {{ itemsLastNr }} {{ 'table.pagination.of' | translate }} {{ itemsTotal }} {{ 'table.pagination.entries' | translate }}

                            </span>

                            <div class="pull-right" st-pagination="" st-items-by-page="itemsByPage">

                            </div>

                        </td>
                    </tr>
                    <tr class="hidden">
                        <td>
                            <input st-search="" id="globalSearchInput" ng-value="globalSearch" type="hidden" />
                        </td>
                    </tr>
                </tfoot>
            </table>	

        </div>
    </div>
</div>