<ul class="breadcrumb">
    <li>
        <a href="#"><i class="fa fa-home"></i></a>
    </li>
    <li>
        <a href="ui_buttons.html">Frontend</a>
    </li>
    <li class="active">
         Advanced Form elements
    </li>
</ul>


<h2>@todo</h2>


                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="box light">
                        <!-- <div class="portlet-body"> -->

                        <ol>
                            <li>Select2</li>
                            <li>icheck</li>
                            <li>and more that are compatible with angular</li>
                        </ol>

                        <!-- </div> -->
                    </div>
                    <!-- END SAMPLE TABLE PORTLET