<!-- BEGIN PAGE BREADCRUMB -->
<ul class="breadcrumb">
    <li>
        <a href="#"><i class="fa fa-home"></i></a>
    </li>
    <li>
        <a href="ui_buttons.html">Frontend</a>
    </li>
    <li class="active">
         Typografia
    </li>
</ul>

<!-- 5. $HEADINGS_AND_PARAGRAPHS ===================================================================

        Headings and paragraphs
-->
        <div class="panel">
          <div class="panel-heading">
            <span class="panel-title">Headings &amp; Paragraphs</span>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="30%" class="panel-padding-h">Type</th>
                <th class="panel-padding-h">Live Example</th>
              </tr>
            </thead>
            <tbody>

              <!-- Headings -->
              <tr>
                <td class="panel-padding">
                  Headings
                </td>
                <td class="panel-padding">
                  <h6>Heading 6 <b>#3214</b> <small>smaller</small></h6>
                  <h5>Heading 5 <b>#3214</b> <small>smaller</small></h5>
                  <h4>Heading 4 <b>#3214</b> <small>smaller</small></h4>
                  <h3>Heading 3 <b>#3214</b> <small>smaller</small></h3>
                  <h2>Heading 2 <b>#3214</b> <small>smaller</small></h2>
                  <h1>Heading 1 <b>#3214</b> <small>smaller</small></h1>
                </td>
              </tr>

              <!-- Paragraphs -->
              <tr>
                <td class="panel-padding">Paragraphs</td>
                <td class="panel-padding">
                  <p>Of on affixed civilly moments promise explain fertile in. Assurance advantage belonging happiness departure so of. Now improving and one sincerity intention allowance commanded not. Oh an am frankness be necessary earnestly advantage estimable extensive. Five he wife gone ye. Mrs suffering sportsmen earnestly any. In am do giving to afford parish settle easily garret.</p>
                </td>
              </tr>

              <!-- Text Classes -->
              <tr>
                <td class="panel-padding">Text Classes</td>
                <td class="panel-padding">
                  <p class="text-default">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                  <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                  <p class="text-light-gray">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                  <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                  <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                  <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                  <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                </td>
              </tr>

              <!-- Text alignment -->
              <tr>
                <td class="panel-padding">Text alignment</td>
                <td class="panel-padding">
                  <p class="text-left">Left aligned text.</p>
                  <p class="text-center">Center aligned text.</p>
                  <p class="text-right">Right aligned text.</p>
                </td>
              </tr>

              <!-- Horizontal Rule -->
              <tr>
                <td class="panel-padding">Horizontal Rule</td>
                <td class="panel-padding">
                  <hr>
                  Horizontal rule markup as <code>&lt;hr /&gt;</code> will create the above line.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
<!-- /5. $HEADINGS_AND_PARAGRAPHS -->

<!-- 6. $WELLS =====================================================================================

        Headings and paragraphs
-->
        <div class="panel">
          <div class="panel-heading">
            <span class="panel-title">Wells</span>
          </div>
          <div class="panel-body">
            <div class="well">
              Look, I'm in a well!
            </div>
            <div class="well well-lg">
              Look, I'm in a well, but a large well!
            </div>
            <div class="well well-sm">
              Look, I'm in a small well!
            </div>
          </div>
        </div>
<!-- /6. $WELLS -->

<!-- 7. $GROUPED_LISTS =============================================================================

        Grouped lists
-->
        <div class="panel">
          <div class="panel-heading">
            <span class="panel-title">Grouped lists</span>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="50%" class="panel-padding-h">Simple</th>
                <th class="panel-padding-h">With Links</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- Simple panels -->
                <td class="panel-padding">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <span class="badge badge-primary">5</span>
                      Cras justo odio
                    </li>
                    <li class="list-group-item">
                      <span class="badge badge-info">14</span>
                      Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                      <span class="badge badge-danger">11</span>
                      Morbi leo risus
                    </li>
                    <li class="list-group-item">
                      <span class="badge badge-success">3</span>
                      Porta ac consectetur ac
                    </li>
                    <li class="list-group-item">
                      <span class="badge badge-warning">7</span>
                      Vestibulum at eros
                    </li>
                  </ul>
                </td>

                <!-- Panels with links -->
                <td class="panel-padding">
                  <div class="list-group">
                    <a href="#" class="list-group-item active">
                      <span class="badge badge-primary">5</span>
                      Cras justo odio
                    </a>
                    <a href="#" class="list-group-item">
                      <span class="badge badge-info">14</span>
                      Dapibus ac facilisis in
                    </a>
                    <a href="#" class="list-group-item">
                      <span class="badge badge-danger">11</span>
                      Morbi leo risus
                    </a>
                    <a href="#" class="list-group-item">
                      <span class="badge badge-success">3</span>
                      Porta ac consectetur ac
                    </a>
                    <a href="#" class="list-group-item">
                      <span class="badge badge-warning">7</span>
                      Vestibulum at eros
                    </a>
                  </div>
                </td>
              </tr>

              <!-- Custom content -->
              <tr>
                <td class="panel-padding" colspan="2">
                  <div class="list-group">
                    <a href="#" class="list-group-item active">
                      <h4 class="list-group-item-heading">Domestic confined any but son</h4>
                      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit..</p>
                    </a>
                    <a href="#" class="list-group-item">
                      <h4 class="list-group-item-heading">Why painful the sixteen how minuter</h4>
                      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                      <h4 class="list-group-item-heading">Barton waited twenty always repair</h4>
                      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
<!-- /7. $GROUPED_LISTS -->

<!-- 8. $NOTES =====================================================================================

        Notes
-->
        <div class="panel">
          <div class="panel-heading">
            <span class="panel-title">Notes</span>
          </div>
          <div class="panel-body">
            <div class="note">
              <h4 class="note-title">Default note title</h4>
              Default note text here.
            </div>

            <div class="note note-success">
              <h4 class="note-title">Success note title</h4>
              Success note text here.
            </div>

            <div class="note note-danger">
              <h4 class="note-title">Danger note title</h4>
              Danger note text here.
            </div>

            <div class="note note-warning">
              <h4 class="note-title">Warning note title</h4>
              Warning note text here.
            </div>

            <div class="note note-info">
              <h4 class="note-title">Info note title</h4>
              Info note text here.
            </div>
          </div>
        </div>
<!-- /8. $NOTES -->


<div class="panel">

<h1>go explore <small>the</small> <b>world</b></h1>
<h4>small things in life matters the most</h4>
<h2>Big Heading <b>Body</b>, <i>Variations</i> </h2>
<h4><b>Open Me</b>, Light , <b>Bold</b> , <i>Everything</i></h4>
<p>
is the art and technique of arranging type in order to make language visible. The arrangement of type involves the selection of typefaces, point size, line length, leading (line spacing), adjusting the spaces between groups of letters (tracking) </p>
<p>and adjusting the Case space between pairs of letters (kerning). Type design is a closely related craft, which some consider distinct and others a part of typography</p>

<hr />

<h2 class="uppercase">Capital Big <b>Heading</b> Body</h2>
<h4><b>OPEN ME</b>, LIGHT , <b>BOLD</b> , <i>EVERYTHING</i></h4>
<p class="uppercase">typographers do not design typefaces, and some type designers do not consider themselves typographers. In modern times, typography has been put into motion—in film, television and online broadcasts—to add emotion to mass communicatio</p>
<h3><b>Numbers</b> looks great! - 1234<b>56</b>7890</h3>
<h3>Let your Creativity Flow <b>123<sup>$</sup></b></h3>
<h3>Numerics <b>233.<sup><u>00</u></sup></b></h3>

<hr />


</div>