<div class="tab-pane" ng-class="active">
    <div class="row">
        <div class="col-lg-6">
            <div class="box light bordered">
                <div class="box-title">
                    <div class="caption">
                        <span class="font-red-thunderbird uppercase">
                            {{ 'settings.fields.edit.header' | translate }}{{ field.id }} <b>{{ field.name }}</b>
                        </span>
                    </div>
                </div>
                <div class="box-body">

                    <form class="form-horizontal" role="form" name="editFieldForm" ng-submit="editFieldFormSubmit()">

                        <div class="form-group col-lg-12" ng-class="{'ng-invalid': editFieldForm.fieldactive.$invalid, 'ng-valid': editFieldForm.fieldactive.$valid}">
                            <label for="fieldactive" class="col-sm-2 control-label primary-font thin">{{ 'settings.fields.edit.active' | translate }}</label>
                            <div class="col-sm-10 checkbox">
                                <input type="checkbox" id="fieldactive" name="fieldactive" ng-model="field.active" style="margin-left: 0;" />
                            </div>
                        </div>

                        <div class="form-group col-lg-12" ng-class="{'ng-invalid': editFieldForm.fieldname.$invalid, 'ng-valid': editFieldForm.fieldname.$valid}">
                            <label for="fieldname" class="col-sm-2 control-label primary-font thin">{{ 'form.name' | translate }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="fieldname" id="fieldname" ng-model="field.name" placeholder="Visible name for field" required>
                                <small class="help-block error" ng-show="editFieldForm.fieldname.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                            </div>
                        </div>


                        <div class="form-group col-lg-12" ng-class="{'ng-invalid': editFieldForm.fieldtype.$invalid, 'ng-valid': editFieldForm.fieldtype.$valid}">
                            <label for="fieldtype" class="col-sm-2 control-label primary-font thin">{{ 'settings.fields.edit.type' | translate }}</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-disabled="validators.length" name="fieldtype" ng-model="field.type" required ng-change="tryChangeFieldType()" id="fieldtype" ng-options="type.name as type.name for type in fieldTypes">
                                </select>
                                <small ng-show="validators.length">{{ 'settings.fields.edit.type.helper' | translate }}</small>
                            </div>
                        </div>

                        <div class="form-group col-lg-12" ng-class="{'ng-invalid': editFieldForm.fielddescription.$invalid, 'ng-valid': editFieldForm.fielddescription.$valid}">
                            <label for="fielddescription" class="col-sm-2 control-label primary-font thin">{{ 'form.description' | translate }}</label>
                            <div class="col-sm-10">
                                <textarea class="form-control vertical-textarea" name="fielddescription" placeholder="{{ 'settings.fields.edit.descr.placeholder' | translate }}" id="fielddescription" rows="3" ng-model="field.description" ></textarea>
                            </div>
                        </div>



                        <div class="form-group col-lg-12">
                            <div class="text-center no-margin-top">
                                <button type="submit" ng-disabled="editFieldForm.$invalid" name="save" class="btn btn-success btn-inverse">{{ 'form.update' | translate }}</button>
                            </div>
                        </div>

                    </form>



                    <div class="clearfix"></div>
                </div>
            </div>
        
        </div>

        <div class="col-lg-6">

            <div class="box light bordered">
                <div class="box-title">
                    <div class="caption">
                        <span class="bold uppercase">
                            {{ 'settings.fields.edit.widget.validators' | translate }}
                        </span>
                    </div>
                </div>
                <div class="box-body">

                    <table class="table table-hover table-light table-striped table-height-input-sm">
                        <colgroup>
                           <col>
                           <col>
                           <col>
                           <col style="width: 150px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>{{ 'settings.fields.edit.th.type' | translate }}</th>
                                <th>{{ 'settings.fields.edit.th.config' | translate }}</th>
                                <th>{{ 'settings.fields.edit.th.error' | translate }}</th>
                                <th>{{ 'table.th.actions' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="validator in validators">
                                <td class="text-center">
                                    <code>{{ validator.type }}</code>
                                </td>
                                <td>
                                    <code ng-show="validator.value">{{ validator.value }}</code>
                                    <small class="help-block" ng-hide="validator.value">{{ 'text.not.required' | translate }}</small>
                                </td>
                                <td>
                                    {{ validator.error }}
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-danger btn-sm btn-icon-only" ng-click="confirmDeleteValidator($index)">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-hide="validators.length">
                                <td colspan="4" class="text-center">{{ 'settings.fields.edit.validators.none' | translate }}</td>
                            </tr>
                        </tbody>
                    </table>


                    <form class="form-horizontal" role="form" name="newValidatorForm" ng-submit="newValidatorFormSubmit()" >

                        <div class="form-group" ng-class="{'ng-invalid': newValidatorForm.neewvalidator.$invalid, 'ng-valid': newValidatorForm.neewvalidator.$valid}">
                            <label for="neewvalidator" class="col-sm-2 control-label primary-font thin">Type</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="neewvalidator" ng-model="newValidator.type" id="neewvalidator" ng-change="newValidator.value = ''">
                                    <option></option>
                                    <option value="{{ v }}" ng-repeat="v in validatorTypes | filter:filterPosibleValidators" class="result">{{ v }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-if="newValidator.type" ng-class="{'ng-invalid': newValidatorForm.neewvalidatorerror.$invalid, 'ng-valid': newValidatorForm.neewvalidatorerror.$valid}">
                            <label for="neewvalidatorerror" class="col-sm-2 control-label primary-font thin">{{ 'settings.fields.edit.error.msg' | translate }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="neewvalidatorerror" name="neewvalidatorerror" required ng-model="newValidator.error" placeholder="{{ 'settings.fields.edit.error.msg' | translate }}">
                                <small class="help-block error" ng-show="newValidatorForm.neewvalidatorerror.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                            </div>
                        </div>

                        <div class="form-group" ng-if="newValidator.type == 'min'" ng-class="{'ng-invalid': newValidatorForm.newvalidatorcfg.$invalid, 'ng-valid': newValidatorForm.newvalidatorcfg.$valid}">
                            <label for="newvalidatorcfg" class="col-sm-2 control-label primary-font thin">{{ 'settings.fields.edit.v.min' | translate }}</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="newvalidatorcfg" name="newvalidatorcfg" required ng-model="newValidator.value" placeholder="" required>
                                <small class="help-block error" ng-show="newValidatorForm.newvalidatorcfg.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                            </div>
                        </div>

                        <div class="form-group" ng-if="newValidator.type == 'max'" ng-class="{'ng-invalid': newValidatorForm.newvalidatorcfg.$invalid, 'ng-valid': newValidatorForm.newvalidatorcfg.$valid}">
                            <label for="newvalidatorcfg" class="col-sm-2 control-label primary-font thin">{{ 'settings.fields.edit.v.max' | translate }}</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control"  id="newvalidatorcfg" name="newvalidatorcfg" required ng-model="newValidator.value" placeholder="" required>
                                <small class="help-block error" ng-show="newValidatorForm.newvalidatorcfg.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                            </div>
                        </div>

                        <div class="form-group" ng-if="newValidator.type == 'regex'" ng-class="{'ng-invalid': newValidatorForm.newvalidatorcfg.$invalid, 'ng-valid': newValidatorForm.newvalidatorcfg.$valid}">
                            <label for="newvalidatorcfg" class="col-sm-2 control-label primary-font thin">{{ 'settings.fields.edit.v.regex' | translate }}</label>
                            <div class="col-sm-10">
                                <textarea class="form-control vertical-textarea" validate-regex id="newvalidatorcfg" name="newvalidatorcfg" required rows="2" ng-model="newValidator.value" ></textarea>
                                <small class="help-block error" ng-show="newValidatorForm.newvalidatorcfg.$invalid">{{ 'form.validator.regex.required' | translate }}</small>
                            </div>
                        </div>

                        <div class="form-group col-sm-12 text-center">
                            <button type="submit" ng-disabled="newValidatorForm.$invalid" name="save" class="btn btn-success btn-inverse">{{ 'form.add' | translate }}</button>
                        </div>

                    </form>


                    <div class="clearfix"></div>
                    <div class="box light bg-inverse">
                        <div class="box-title">
                            <div class="caption">
                                <span class="caption-subject uppercase">
                                  {{ 'settings.fields.edit.v.available' | translate }}
                                </span>
                            </div>
                        </div>
                        <div class="box-body">

                            <ul ng-if="field.type == 'text'">
                                <li><code>required</code> <small>{{ 'settings.fields.edit.v.text.required' | translate }}</small></li>
                                <li><code>min</code> <small>{{ 'settings.fields.edit.v.text.min' | translate }}</small></li>
                                <li><code>max</code> <small>{{ 'settings.fields.edit.v.text.max' | translate }}</small></li>
                                <li><code>email</code> <small>{{ 'settings.fields.edit.v.text.email' | translate }}</small></li>
                                <li><code>url</code> <small>{{ 'settings.fields.edit.v.text.url' | translate }}</small></li>
                                <li><code>regex</code> <small>{{ 'settings.fields.edit.v.text.regex' | translate }}</small></li>
                            </ul>
                            <ul ng-if="field.type == 'textarea'">
                                <li><code>required</code> <small>{{ 'settings.fields.edit.v.text.required' | translate }}</small></li>
                                <li><code>min</code> <small>{{ 'settings.fields.edit.v.text.min' | translate }}</small></li>
                                <li><code>max</code> <small>{{ 'settings.fields.edit.v.text.max' | translate }}</small></li>
                                <li><code>regex</code> <small>{{ 'settings.fields.edit.v.text.regex' | translate }}</small></li>
                            </ul>
                            <ul ng-if="field.type == 'select'">
                                <li><code>required</code> <small>{{ 'settings.fields.edit.v.select.required' | translate }}</small></li>
                                <li><code>min</code> <small>{{ 'settings.fields.edit.v.text.min' | translate }}</small></li>
                                <li><code>max</code> <small>maximum options to select</small></li>
                            </ul>
                            <ul ng-if="field.type == 'radio'">
                                <li><code>required</code> <small>{{ 'settings.fields.edit.v.select.required' | translate }}</small></li>
                                <li><code>min</code> <small>{{ 'settings.fields.edit.v.text.min' | translate }}</small></li>
                                <li><code>max</code> <small>{{ 'settings.fields.edit.v.text.max' | translate }}</small></li>
                            </ul>
                            <ul ng-if="field.type == 'numeric'">
                                <li><code>required</code> <small>{{ 'settings.fields.edit.v.numeric.required' | translate }}</small></li>
                                <li><code>min</code> <small>{{ 'settings.fields.edit.v.select.min' | translate }}</small></li>
                                <li><code>max</code> <small>{{ 'settings.fields.edit.v.select.max' | translate }}</small></li>
                            </ul>
                            <ul ng-if="field.type == 'date'">
                                <li><code>required</code> <small>date must be provided</small></li>
                            </ul>
                            <ul ng-if="field.type == 'datetime'">
                                <li><code>required</code> <small>date must be provided</small></li>
                            </ul>
                            <ul ng-if="field.type == 'checkbox'">
                                <li><code>required</code> <small>{{ 'settings.fields.edit.v.select.required' | translate }}</small></li>
                                <li><code>min</code> <small>{{ 'settings.fields.edit.v.text.min' | translate }}</small></li>
                                <li><code>max</code> <small>{{ 'settings.fields.edit.v.text.max' | translate }}</small></li>
                            </ul>
                            <ul ng-if="field.type == 'phone'">
                                <li><code>required</code> <small>{{ 'settings.fields.edit.v.select.required' | translate }}</small></li>
                                <li><code>min</code> <small>{{ 'settings.fields.edit.v.select.min' | translate }}</small></li>
                                <li><code>max</code> <small>{{ 'settings.fields.edit.v.select.max' | translate }}</small></li>
                                <li><code>regex</code> <small>{{ 'settings.fields.edit.v.text.regex' | translate }}</small></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>

            
    <div ng-if="markedFieldType.multiple && fieldInitialMulti">
        
        <div class="container-fluid raw">

            <div class="box light bordered">
                <div class="box-title">
                    <div class="caption">
                        <span class="bold uppercase">
                            {{ 'settings.fields.edit.o.widget' | translate }}
                        </span>
                    </div>
                </div>
                <div class="box-body">

                    
                    
                        <table class="table table-hover table-light table-striped table-height-input-sm">
                            <colgroup>
                               <col style="width: 50px;">
                               <col>
                               <col style="width: 150px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>{{ 'table.th.id' | translate }}</th>
                                    <th>{{ 'settings.fields.edit.o.th.val' | translate }}</th>
                                    <th>{{ 'table.th.actions' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="option in fieldOptions">
                                    <td class="text-center">
                                        <code>{{ option.id }}</code>
                                    </td>
                                    <td>

                                        <a href="#" editable-text="option.value" ng-model="option.value" onbeforesave="updateOptionValue($index, $data)">
                                            {{ option.value }}
                                        </a>

                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button class="btn btn-danger btn-sm btn-icon-only" ng-click="confirmDeleteOption($index)">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-hide="fieldOptions.length">
                                    <td colspan="3" class="text-center">{{ 'settings.fields.edit.o.none' | translate }}</td>
                                </tr>
                            </tbody>
                        </table>
                    
                    
                        <div class="col-md-12">

                            <form class="form-horizontal" role="form" name="newOptionForm" ng-submit="newOptionFormSubmit()" ng-hide="fieldOptions.length == 1 && field.type == 'checkbox'" >

                                <div class="form-group">
                                    <label for="newoptionvalue" class="col-sm-2 control-label primary-font thin">{{ 'settings.fields.edit.o.newoption' | translate }}</label>
                                    <div class="col-sm-10">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="newoptionvalue" required ng-model="newOption.value" placeholder="Option Name">
                                            <span class="input-group-btn">
                                              <button type="submit" ng-disabled="newOptionForm.$invalid" class="btn btn-success btn-flat" type="button">{{ 'form.add' | translate }}</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
