.dataTables_wrapper .dataTables_info {
    background-color: white;
}
@media (min-width: 1024px) and (max-width: 1200px){
.container.container-hostx-body {
    max-width: calc(100% - 120px);
}
.server-satus-inner-box .button-box .btn-style {
    font-size: 12px;
}
}
.modal-dialog {
    margin-top: 0px;
    left: 44%;
}
@media (max-width: 1300px) {
    #rebuild_form input#submitmodal {
        margin-left: 0;
        margin-top: 10px;
    }
    #rebuild_form {
        display: block !important;
    }
    #rebuild_form select.oprator-select {
        width: 100%;
    }
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 669px;
    }
}

.createfirewall {
    padding: 27px;
}

.toast-header {
    padding: 4px;
}

.toast-body {
    padding: 10px;
}

#liveToastModal .show {
    display: inline-flex !important;
}

#liveToast {
    background-color: aliceblue;
}

#liveToastModal {
    z-index: 10;
}

#liveToastModal .fade {
    opacity: 1;
}

.collapse {
    display: none !important;
}

.collapse.in {
    display: block !important;
}

#reverse_dns_modal_IPV6 .reverse_dns_ip,
#create_ipv6_modal .reverse_dns_ip {
    width: 100%;
    border-radius: 0px;
    height: 44px !important;
    border-radius: 0;
    color: #000;
    font-weight: 600;
    margin-bottom: 0px !important;
    box-shadow: none;
}

#reverse_dns_modal_IPV6 .reverse_dns_name,
#create_ipv6_modal .reverse_dns_name {
    width: 100%;
    border-radius: 0px;
    border-top: none;
    height: 44px !important;
    border-radius: 0;
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
    box-shadow: none;
}

#reverse_dns_modal_IPV6 .reverse_ipv6,
#create_ipv6_modal .reverse_ipv6 {
    border-left: none;
    border-radius: 0px;
    height: 44px !important;
    margin-bottom: 0px !important;
    height: 3.7em;
}

.dataTables_wrapper .dataTables_filter label .form-control {
    border: 1px solid #cec9c9;
}

.page-link {
    line-height: 1.95 !important;
}

.dataTables_wrapper .dataTables_paginate .pagination>li>a,
.dataTables_wrapper .dataTables_paginate .pagination>li>span {
    padding: 8px 12px;
}

#submitBtn {
    border: none;
}

.snapshot_backup .nav-tabs li a.active,
.snapshot_backup .nav-tabs li a.bk-sn-active {
    border-left: 1px solid #dee2e6 !important;
    border-top: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
    box-shadow: unset !important;
    color: #000 !important;
    background-color: #fff;
}

.clientareaproductdetails .nav-tabs li a:hover {
    border-left: 1px solid #dee2e6 !important;
    border-top: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
    box-shadow: unset !important;
    color: #000 !important;
    background-color: #fff;
}

.snapshot_backup .nav-tabs li a {
    padding: 10px 30px;
    box-shadow: unset !important;
}

.clientareaproductdetails .nav-tabs {
    background: #fff;
    border-bottom: 1px solid #dee2e6;
}

.table-responsive {
    /* overflow-y: visible;
    overflow-x: visible !important; */
}

.open {
    position: relative !important;
}

#floatingIP_table_section .table-responsive {
    /* overflow: visible !important;
    overflow-x: visible !important; */
}

#tabOverview .table>tbody>tr .dataTables_empty {
    text-align: center !important;
}

.main-content .modal-dialog {
    height: 500px;
    overflow: auto;
}

.main-content .modal-dialog {
    left: 50%;
    transform: translate(-50%, -50%) !important;
    margin: 0;
    top: 50%;
}

.clientarea .right .tooltip {
    width: auto !important;
    /* top: -20px !important;
    left: 80px !important; */
}
#mount_form .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: #673de6 !important;
}
button.snapshot-btn {
    background-color: #673de6;
    border: 1px #673de6 solid;
    font-size: 13px !important;
    padding: 7px 20px !important;
    border-radius: 0;
}
button.snapshot-btn:hover {
    background-color: #673de6;
}
#backup-btn {
    background-color: #673de6;
    border: 1px #673de6 solid;
    font-size: 13px !important;
    padding: 7px 20px !important;
    border-radius: 0 !important;
}
#create_firewall {
    font-size: 13px !important;
    padding: 7px 20px !important;
    border-radius: 0;
}
#rebuild_form .btn:disabled {
    background-color: #673de6 !important;
}
#rebuild_form .btn:not(:disabled):not(.disabled) {
    color: #fff;
    background-color: #673de6 !important;
    border: 1px solid #673de6;
}
#rebuild_form .btn:not(:disabled):not(.disabled):hover{
    border-color: #673de6 !important;
    background-color: #e1f0ff63 !important;
    color: #673de6 !important;
    border: 1px solid #673de6 !important;
}
#rebuild_form .btn:not(:disabled):not(.disabled):focus{
    color: #fff;
}
#mount_form .btn-primary:disabled {
    background-color: #673de6 !important;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #673de6;
    border-color: #673de6;
}
.btn-info:not(:disabled):not(.disabled):active{
    background-color: #673de6 !important;
}
.btn-info:not(:disabled):not(.disabled):active:focus{
    background-color: #673de6 !important;
}
.bk-snp-wrapper.snapshot_backup .btn-info:focus {
    color: #fff;
    background-color: #673de6;
    border-color: #673de6;
}
.pagination>.active>a, .pagination>.active>a:hover,.pagination>.active>a:focus{
    background-color: #673de6;
    border-color: #673de6;
}