.tab-content.margin-bottom div#tabOverview {
    background: none;
    padding: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px !important;
}

.page-link {
    line-height: 2.25 !important;
}

.modal .modal-header {
    background-color: #004fac !important;
    padding: 20px 30px;
}

.modal .modal-header h4 {
    color: #fff !important;
}

.modal .modal-header h3 {
    color: #fff !important;
}

.dataTables_wrapper ul.pagination li a {
    padding: 8px 14px !important;
}

.modal button.btn.btn-primary,
.modal button.btn.btn-default {
    padding: 9px 12px;
}
#reverse_dns_modal_IPV6 .reverse_ipv6,
#create_ipv6_modal .reverse_ipv6 {
    height: 3.7em;
}

button.snapshot-btn {
    color: #fff;
    background-color: #004fac;
    border: 1px solid #004fac;
}
button.snapshot-btn:hover {
    border-color: #004fac;
    background-color: #e1f0ff63;
    color: #004fac;
    border: 1px solid #004fac;
}
#backup-btn {
    color: #fff;
    background-color: #004fac;
    border: 1px solid #004fac;
}
#backup-btn:hover {
    border-color: #004fac;
    background-color: #e1f0ff63;
    color: #004fac;
    border: 1px solid #004fac;
}
#create_firewall:hover {
    border: 1px solid #004fac;
}
#rebuild_form .btn:disabled {
    background-color: #004fac !important;
}
#rebuild_form .btn:not(:disabled):not(.disabled) {
    background-color: #004fac;
    border: 1px solid #004fac;
}
#rebuild_form .btn:not(:disabled):not(.disabled):hover{
border-color: #004fac;
background-color: #e1f0ff63;
color: #004fac;
}
#rebuild_form .btn:not(:disabled):not(.disabled):focus{
    color: #fff;
}