<note ng-repeat="m in scopeMessages" type="{{m.type}}" close="{{$index}}"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>

<div ng-if="mainData.client_id">
    <div st-pipe="callServer" st-table="displayed" >
        <div class="box light">
            <div class="box-title">
                <div class="caption">
                    <span class="bold font-red-thunderbird uppercase pull-left" style="padding-top: 9px;">
                        {{ ::('resource.orders.widget.name' | translate) }}
                    </span>
                    <div id="tableSearchContainer pull-left" style="width: 300px;" class="col-xs-3">
                        <div class="input-group">
                            <span class="input-group-addon" style="background: none;"><i class="font-red bold icon-magnifier"></i></span>
                            <input st-search="" placeholder="{{ ::('form.search.placeholder' | translate) }}"  class="form-control" type="search" style="border-color: #e5e5e5;" />
                            <span class="input-group-btn">
                                <button class="btn btn-flat" ng-class="{'active': displayFilters == true}" ng-click="displayFilters = !displayFilters" type="button" style="height: 34px;"><i class="fa fa-filter"></i></button>
                            </span>
                        </div>
                    </div>
                    <span class="caption-helper pull-left" style="padding-top: 11px;"><small>{{ ::('resource.orders.widget.descr' | translate) }}</small></span>
                </div>
                <div class="actions" style="padding-right: 11px; top: 17px;">
                    <a ng-show="!isArchive()" href="ordersadd.php?userid={{ ::mainData.client_id }}" target="_blank" class="btn btn-success btn-inverse btn-sm">
                        {{ ::('resource.orders.btn.new' | translate) }}
                    </a>
                    <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-striped table-hover align-vertical" id="leadsTable" highlight-active-table-header="border-bottom-red">
                    <colgroup>
                        <col width="80" />
                        <col width="150" />
                        <col width="150" />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col ng-if="!isArchive()" width="50" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th st-sort="id" st-sort-default="id" >{{ ::('table.th.id' | translate) }}</th>
                            <th st-sort="ordernum">{{ ::('resource.orders.th.ordernum' | translate) }}</th>
                            <th st-sort="date">{{ ::('table.th.date' | translate) }}</th>
                            <th st-sort="paymentmethod">{{ ::('resource.orders.th.payment' | translate) }}</th>
                            <th st-sort="amount">{{ ::('resource.orders.th.total' | translate) }}</th>
                            <th st-sort="status">{{ ::('resource.orders.th.orderstatus' | translate) }}</th>
                            <th st-sort="invoiceid">{{ ::('resource.orders.th.invoice' | translate) }}</th>
                            <th st-sort="invoicestatus">{{ ::('resource.orders.th.paymentstatus' | translate) }}</th>
                            <th ng-if="!isArchive()">{{ ::('table.th.actions' | translate) }}</th>
                        </tr>
                        <tr ng-show="displayFilters">
                            <th>
                                <input st-search="id" type="number" min="0" class="form-control input-sm"/>
                            </th>
                            <th>
                                <input st-search="ordernum" type="text" class="form-control input-sm"/>
                            </th>
                            <th>
                                <input st-search="date" type="text" class="form-control input-sm"/>
                            </th>
                            <th>
                                <input st-search="paymentmethod" type="text" class="form-control input-sm"/>
                            </th>
                            <th>
                                <input st-search="amount" type="text" class="form-control input-sm"/>
                            </th>
                            <th>
                                <select st-search="status" st-input-event="change" class="form-control input-sm">
                                    <option value="">{{ ::('form.any' | translate) }}</option>
                                    <option value="Pending" style="color:#cc0000">{{ ::('resource.orders.s.pending' | translate) }}</option>
                                    <option value="Active" style="color:#779500">{{ ::('resource.orders.s.active' | translate) }}</option>
                                    <option value="Cancelled" style="color:#888888">{{ ::('resource.orders.s.cancelled' | translate) }}</option>
                                    <option value="Fraud" style="color:#000">{{ ::('resource.orders.s.fraud' | translate) }}</option>
                                </select>
                            </th>
                            <th>
                                <input st-search="invoiceid" type="number" min="0"  class="form-control input-sm"/>
                            </th>
                            <th>
                                <select st-search="invoicestatus" st-input-event="change" class="form-control input-sm">
                                    <option value="">{{ ::('form.any' | translate) }}</option>
                                    <option value="Paid">{{ ::('resource.orders.s.paid' | translate) }}</option>
                                    <option value="Unpaid">{{ ::('resource.orders.s.unpaid' | translate) }}</option>
                                    <option value="Cancelled">{{ ::('resource.orders.s.cancel' | translate) }}</option>
                                    <option value="Refunded">{{ ::('resource.orders.s.refunded' | translate) }}</option>
                                    <option value="Collections">{{ ::('resource.orders.s.collections' | translate) }}</option>
                                </select> 
                            </th>
                            <th ng-if="!isArchive()"></th>
                        </tr>
                    </thead>
                    <tbody block-ui="leadOrdersTable">
                        <tr ng-repeat="row in displayed">
                            <td class="">
                                <a href="orders.php?action=view&id={{ ::row.id }}" target="_blank">
                                    {{ ::row.id }}
                                </a>
                            </td>
                            <td class="">
                                <a href="orders.php?action=view&id={{ ::row.id }}" target="_blank">
                                    {{ ::row.ordernum }}
                                </a>
                            </td>
                            <td class="">{{ ::row.date }}</td>
                            <td class="">{{ ::row.gateway }}</td>
                            <td class="">{{ ::row.amount }}</td>
                            <td class="">
                                <span class="label" ng-style="
                                    (row.status == 'Active') ? {'background-color':'#779500;'} :
                                    (row.status == 'Pending') ? {'background-color':'#cc0000;'} :
                                    (row.status == 'Cancelled') ? {'background-color':'#888888;'} :
                                    (row.status == 'Fraud') ? {'background-color':'#000;'} : {}
                                ">
                                    {{ ::row.status }}
                                </span>    
                            </td>
                            <td class="">
                                <a ng-show="row.invoiceid" href="invoices.php?action=edit&id={{ ::row.invoiceid }}" target="_blank">
                                    #{{ ::row.invoiceid }}
                                </a> 
                                <small class="text-muted" ng-hide="row.invoiceid">{{ 'text.no.invoice' | translate }}</small>
                            </td>
                            <td class="">
                                <span ng-show="row.invoiceid" class="label" ng-style="
                                    (row.invoicestatus == 'Paid') ? {'background-color':'#779500;'} :
                                    (row.invoicestatus == 'Unpaid') ? {'background-color':'#cc0000;'} :
                                    (row.invoicestatus == 'Cancelled') ? {'background-color':'#888888;'} :
                                    (row.invoicestatus == 'Refunded') ? {'background-color':'#000;'} :
                                    (row.invoicestatus == 'Collections') ? {'background-color':'#ffbb55;'} : {}
                                ">
                                    {{ ::row.invoicestatus }}
                                </span>
                                <small class="text-muted" ng-hide="row.invoiceid">{{ 'text.no.invoice' | translate }}</small>
                            </td>
                            <td ng-if="!isArchive()">

                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-icon-only btn-primary" href="orders.php?action=view&id={{ ::row.id }}" target="_blank">
                                        <i class="icon-pencil"></i>
                                    </a>
                                </div>
                                
                            </td>
                        </tr>
                        <tr ng-hide="displayed.length">
                            <td colspan="{{ isArchive() ? '8':'9' }}" class="text-center">
                                <h4>{{ ::('table.empty.msg' | translate) }}</h4>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="{{ isArchive() ? '8':'9' }}" class="text-left">

                                <span ng-hide="itemsLastNr == 0">
                                    {{ 'table.pagination.display' | translate }} 

                                    <div class="btn-group btn-group-xs btn-group-solid">
                                        <button type="button" class="btn" ng-class="{'active': itemsByPage == 10}" ng-click="itemsByPage = 10">10</button>
                                        <button type="button" class="btn" ng-class="{'active': itemsByPage == 25}" ng-click="itemsByPage = 25">25</button>
                                        <button type="button" class="btn" ng-class="{'active': itemsByPage == 50}" ng-click="itemsByPage = 50">50</button>
                                        <button type="button" class="btn" ng-class="{'active': itemsByPage == 100}" ng-click="itemsByPage = 100">100</button>
                                    </div>

                                    {{ 'table.pagination.perpage' | translate }} {{ 'table.pagination.showing' | translate }} {{ itemsFirstNr }} {{ 'table.pagination.to' | translate }} {{ itemsLastNr }} {{ 'table.pagination.of' | translate }} {{ itemsTotal }} {{ 'table.pagination.entries' | translate }}

                                </span>

                                <div class="pull-right" st-pagination="" st-items-by-page="itemsByPage">

                                </div>

                            </td>
                        </tr>
                    </tfoot>
                </table>	

            </div>
        </div>
    </div>
</div>


<div class="box light bordered" ng-if="!mainData.client_id">
    <div class="box-title">
        <div class="caption">
              <span class="bold font-red-thunderbird uppercase">
                {{ ::('resource.orders.widget.name' | translate) }}
              </span>
        </div>
        <div class="actions">
            <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                <i class="icon-size-fullscreen"></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        <div style="height:100px">
            <h3 class="text-center">{{ ::('resource.orders.no.client' | translate) }}</h3>
        </div>
    </div>
</div>

