<input type="hidden" id="calendarLang" value="{{ 'calendar.lang.label' | translate }}" >
<input type="hidden" id="calendarLangData" value='{ "months": {{ "calendar.months.label" | translate }}, "monthsShort": {{ "calendar.monthsShort.label" | translate }}, "weekdays": {{ "calendar.weekdays.label" | translate }}, "weekdaysShort": {{ "calendar.weekdaysShort.label" | translate }}, "weekdaysMin": {{ "calendar.weekdaysMin.label" | translate }}, "relativeTime": {{ "calendar.relativeTime.label" | translate }} }' />
<div ng-show="allowChangeAdmin" class="pull-right form-group" style="position: absolute; top: 6px; right: 15px;">
    <div class="pull-left control-label" style="padding-top: 5px; padding-right: 10px;">
        <label for="select-admin-to-preview" class="primary-font font-sm thin">
            {{ 'dashboard.preview.for' | translate }}
        </label>
    </div>
    <div class="pull-left">
        <ui-select ng-model="$parent.requestForAdmin" style="width: 300px" theme='selectize'>
            <ui-select-match placeholder="{{ 'resource.create.select.admin.placeholder' | translate }}">{{ $select.selected.full }}</ui-select-match>
            <ui-select-choices repeat="admin.id as admin in admins | filter: $select.search">
                  <div ng-bind-html="admin.full | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box light bordered">
            <div class="box-title">
                <div class="caption bold">
                    {{ 'calendar.widget.name' | translate }}
                </div>

                <div class="actions">
                    <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                      <i class="icon-size-fullscreen"></i>
                    </a>
                </div>
            </div>
            <div class="box-body" block-ui="calendarBlock" style="min-height: 100px;">

                <note ng-repeat="m in scopeMessages" type="{{m.type}}" dismiss="true" close="{{$index}}"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>

                <style>
                    span.event-lead-link {
                        color: #009926;
                    }
                </style>
                
                <style ng-repeat="t in followupTypes">
                    .cal-slide-content > ul .event-calendar-type{{ ::t.id }},
                    .events-list a.event-calendar-type{{ ::t.id }} {
                        background-color: {{ ::t.color }};
                    }
                </style>
                
                
                <div class="row">
                    
                    <div class="col-md-3 text-center">
                        <div class="btn-group">
                          <button
                            class="btn btn-primary"
                            mwl-date-modifier
                            date="$parent.currentDay"
                            decrement="$parent.calendarView">
                            {{ 'calendar.navigation.previous' | translate }}
                          </button>
                          <button
                            class="btn btn-default"
                            mwl-date-modifier
                            date="$parent.currentDay"
                            set-to-today>
                            {{ 'calendar.navigation.today' | translate }}
                          </button>
                          <button
                            class="btn btn-primary"
                            mwl-date-modifier
                            date="$parent.currentDay"
                            increment="$parent.calendarView"
                            ng-click="incrementMonth()"
                            >
                            {{ 'calendar.navigation.name' | translate }}
                          </button>
                        </div>

                    </div>
                    <div class="col-md-6 text-center">
                        <h2 class="text-center">{{ viewTitle }}</h2>
                    </div>
                    <div class="col-md-3 text-center">

                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="$parent.calendarView" btn-radio="'month'">
                                {{ 'calendar.navigation.month' | translate }}
                            </label>
                            <label class="btn btn-primary" ng-model="$parent.calendarView" btn-radio="'week'">
                                {{ 'calendar.navigation.week' | translate }}
                            </label>
                            <label class="btn btn-primary" ng-model="$parent.calendarView" btn-radio="'day'">
                                {{ 'calendar.navigation.day' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
                
                <mwl-calendar
                    view="$parent.calendarView"
                    current-day="$parent.currentDay"
                    events="$parent.events"
                    view-title="$parent.viewTitle"
                    on-event-click="eventCliecked(calendarEvent)"
                    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                    edit-event-html="htmlEdit"
                    delete-event-html="htmlDlt"
                    on-edit-event-click="eventEdited(calendarEvent)"
                    on-delete-event-click="eventDeleted(calendarEvent)"
                    auto-open="false">
                </mwl-calendar>
                
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-10">
                        <h4>
                            <span class="pull-left margin-right-10">{{ 'calendar.legend.header' | translate }}</span>
                            <span ng-repeat="t in followupTypes" class="pull-left">
                                <span style="margin-right: 20px;">
                                    <i class="pull-left event" style="margin-top: 4px;" ng-style="{'background-color':t.color}"></i><small>{{ ::t.name }}</small>
                                </span>
                            </span>
                        </h4>
                    </div>
                    <div class="col-md-2 text-right">
                        <p>
                            <h5 class="text-muted">{{ 'calendar.legend.helper' | translate }}</h5>
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
        </div>
    </div>
    
</div>









    
